*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 33, 33);
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}


#form{
    margin-top: -20vh;
    height: 55vh;
    width: 27vw;
   background-color: rgb(45, 43, 43);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5vh;
   border-radius: 7px;
   color: rgb(232, 136, 136);
}

.input{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-weight: bold;
    font-size: 1.2vw;
}
.input input{
    border: none;
    outline: none;
    padding: 3px 5px;
    font-weight: bold;

}

.button-64 {
    margin: 4vh auto 0 auto;
    margin-top: 2vh;
    font-weight: 500;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 10px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 30px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 11px 15px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 17px;
      min-width: 6vw;
    }
  }